@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $violet;
  color: $black;
  font-family: "Lato", sans-serif;
  min-height: 100vh; //always center of the screen
}

.form {
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    min-width: 200px;
    height: 48px;
    padding: 16px;
    border-radius: 4px;
    font-weight: 600px;
    letter-spacing: 0.5px;

    &--load {
      color: $black;
      background-color: $white;
    }
    &--save {
      color: $white;
      background-color: $black;
    }
  }

  &__label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__textarea {
    border: 1px solid $violet;
    border-radius: 4px;
    padding: 12px;
    resize: none;
    width: 100%;
    min-height: 350px;
    margin-bottom: 8px;
  }
}

.header {
  font-weight: 600px;
  font-size: 44px;
  margin: 0 0 48px 0;
}

.main {
  max-width: 544px;
  width: 100%;
  border-radius: 16px;
  background-color: lavenderblush;
  padding: 16px;
  margin: 2px;
}

@media only screen and (max-width: 440px) {
  .form {
    &__actions {
      display: flex;
      flex-direction: column;
    }
  }
}
